body{font-size:12px;background-color:#f6f7f9; }
*{padding:0px; margin:0px;}

#container {/*margin:0 auto;*/ width:100%; margin-top:0px;}
#top { height:36px; /*background:#9c6;*/ margin-bottom:0px; background:#09aee8 url("../../images/Default_1.png") 0 0 no-repeat; vertical-align:bottom; padding:50px 0px 0px 600px;}
#top table td{ line-height:36px;}
#top table td a{color:White;}
#top table td a:hover{color:yellow;}
#top table td span{color:yellow; font-weight:bold; font-size:14px; }

#menu {width:100%; height:32px; background-image:url("../../images/Top_3.jpg"); margin-bottom:0px;}
#mainContent { height:100%; margin-bottom:0px;}
#left { float:left; width:166px; height:100%;background:rgb(229, 229, 229);border-right:1px solid #206ca6;/*500px; background:#cf9;*/}
#bar { float:left; margin-left : 0px;  width:7px; height:100%; /*500px;*/}
#menu #menu_left
{
    float:left;
}

#menu #menu_right
{
    float:right;
    margin-top:8px;
}
/* “ªº∂±Í«©*/
#menu #menu_center
{
    margin-left:2px;
}
#menu #menu_center #tabs_left_scroll{
   float:left;
	width:30px;
	height:30px;
	display:none;
	cursor:pointer;
	background:url('../../images/tabs_arrow.png') no-repeat 0px center;
}
#menu #menu_center #tabs_left_scroll.active{
	background:url('../../images/tabs_arrow.png') no-repeat -60px center;
}
#menu #menu_center #tabs_container{
   height:30px;
   width:100%;
   float:left;
	overflow:hidden;
	white-space:nowrap;
}
#menu #menu_center #tabs_container div{
   display:inline-block;
   margin-right:3px;
	padding-right:5px;
	white-space:nowrap;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	background:rgba(0, 0, 0, 0.08) !important;
	filter:alpha(opacity=8);
	background:#000;
}
#menu #menu_center #tabs_container div {*display:inline !important;}
#menu #menu_center #tabs_container div a.tab{
   display:inline-block;
	padding-left:10px;
	padding-right:3px;
	min-width:64px !important;
	width:auto !important;
	width:80px;
	text-decoration:none;
	color:#fff;
	height:30px;
	line-height:30px;
	text-align:center;
   border-radius-topleft:5px;
   border-radius-bottomleft:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	position:relative;
}
#menu #menu_center #tabs_container div.selected{
	background:rgba(0, 0, 0, 0.15) !important;
	filter:alpha(opacity=15);
	background:#000;
}
#menu #menu_center #tabs_container div.selected a.tab{
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
#menu #menu_center #tabs_container div a.close{
   display:none;
	width:16px;
	height:16px;
	margin-bottom:-2px !important;
	margin-bottom:2px;
	background:url('../../images/tabs_close.png') 0px center no-repeat;
	position:relative;
}
#menu #menu_center #tabs_container div a:hover.close{
	cursor:pointer;
	background-position:-16px center;
}
#menu #menu_center #tabs_container div.selected a.close{
   display:inline-block;
}

#menu #menu_center #tabs_right_scroll{
   float:right;
	width:30px;
	height:30px;
	display:none;
	cursor:pointer;
	background:url('../../images/tabs_arrow.png') no-repeat -30px center;
}
#menu #menu_center #tabs_right_scroll.active{
	background:url('../../images/tabs_arrow.png') no-repeat -90px center;
}

#tag { margin: 2px 2px; height:20px; }
#content {
   width:auto !important;
   height:100%;
   overflow:hidden;
   position:relative;
   /*background:#e1f3ff url('images/center_bg.gif') bottom right no-repeat;*/
}
#content .tabs-panel{
   width:100%;
   height:100%;
   display:none;
}
#content .selected{
   display:block;
}
#content .tabs-panel iframe{
   width:100%;
   height:100%;
}
#content #ie6_tips{
   width:100%;
   height:40px;
   line-height:40px;
   background:#fdf4d9;
   border-top:1px #fff solid;
   overflow:hidden;
   text-align:center;
   font-size:20px;
   color:#dc5802;
   position:absolute;
   z-index:1000;
}
#content #ie6_tips span.close{
   position:absolute;
   right:20px;
}
#content_iframe { float:left;  width:auto !important; height:100%;/*500px;*//* background:#cf9;*/}

#bottom { width:100%; height:35px; border-top:1px solid #206ca6; background:url(../../images/new/Bottom_1.jpg) 0 0 repeat-x; text-align:center;}    
    .bottom table { margin:0 auto;}
		.bottom td { height:35px; color:#fff;}
		
.scroll-left{
   width:7px;
   background:url('../../images/open_left.jpg')  center no-repeat;
   cursor:pointer;
}
.scroll-left-active{
   width:16px;
   background:url('../../images/hscroll_arrow.png') -34px center no-repeat;
   cursor:pointer;
}
.scroll-right{
   width:7px;
   background:url('../../images/open_right.gif')  center no-repeat;
   cursor:pointer;
}
.scroll-right-active{
   width:16px;
   background:url('../../images/hscroll_arrow.png') -48px center no-repeat;
   cursor:pointer;
}
   
div.zTreeDemoBackground {width:250px;height:height:100%;/*362px;*/text-align:left; }



.Menu_style { width:100%; height:100%; float:left; overflow-x:hidden; background-image:url("../../images/new/Menu_6.jpg"); }/*background-color:#0B5E90;*/
	.Menu_style .title { width:100%; height:30px; float:left; border-left:1px solid #206ca6;}
	.Menu_style .main { width:100%; float:left; overflow:hidden;}
		.Menu_style .main p { display:block; width:135px; height:29px; float:left; line-height:29px; padding-left:33px; color:white; font-weight:bold; background:url(../../images/Default_18.png) 0 0 no-repeat; cursor:pointer;margin-top: -1px;}
		.Menu_style .main p:hover { display:block; width:135px; height:29px; float:left; line-height:29px; padding-left:33px; color:white; font-weight:bold; background:url(../../images/Default_17.png) 0 0 no-repeat; cursor:pointer;}
		
		.Menu_style .main .p_over { display:block; width:133px; height:29px; float:left; line-height:29px; padding-left:33px; color:#fff; font-weight:bold; background:url(../../images/Default_12.png) 0 0 repeat-x; cursor:pointer;}
			.Menu_style .main .menu_body { width:100%; float:left; background:url(../../images/Top_16.jpg) 0 0 repeat-y; padding:5px 0; display:none;}
				.Menu_style .main .menu_body ul { width:100%;}
							.Menu_style .main .menu_body li .over { background:#eee url(../../images/Default_6.png) 28px center no-repeat; font-weight:bold;}
								.Menu_style .main .menu_body li .over:hover { background:#eee url(../../images/Default_6.png) 28px center no-repeat;}
							.Menu_style .main .menu_body li .Num { width:25px; height:11px; line-height:11px; text-align:center; font-weight:bold; color:#fff; position:absolute; top:9px; right:10px; background:url(../../images/Default_19.png) 0 0 no-repeat;}
							.newa{background:#ffffff url(../../images/Default_6.png) 28px center no-repeat; text-decoration:none;}