.portal{
	padding:0;
	margin:0;
	border:1px solid #99BBE8;
	overflow:auto;
}
.portal-noborder{
	border:0;
}
.portal-panel{
	margin-top:3px;
}
.portal-column-td{
	vertical-align:top;
}	
.portal-column{
	padding:0px 0px 3px 3px;
	overflow:hidden;
}
.portal-column-left{
	padding-left:3px;
}
.portal-column-right{
	padding-right:3px;
}
.portal-proxy{
	opacity:0.6;
	filter:alpha(opacity=60);
}
.portal-spacer{
	border:3px dashed #eee;
	margin-bottom:10px;
}